.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            span    
                |Continue with Github
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            span    
                |Continue with Kakao